<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    <img src = '555.jpg' width = '200'><br/>
    1.<a href = '/addNewdeveloper'>Add new developer</a><br/>
    2.<a href = '/listAlldeveloper' >List all developer</a><br/>
    3.<a href = '/addNewtask'>Add new task</a><br/>
    2.<a href = '/listAlltask'>List All Tasks</a><br/>
    3.<a href = '/deleteTask'>Delete a specific task</a><br/>
    4.<a href = '/deleteAllComTask'>Delete all completed tasks</a><br/>
    5.<a href = '/update'>Update a specific status of a task</a><br/>
    <br/>
    Hope you have a nice day!!!

</body>

</html>